#navbar {
  display: flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  padding: 0 10px;

  background: rgb(255, 255, 255);
  border-bottom: 1px solid hsl(0, 0%, 86%);

  @keyframes hue-circle {
    0%   { filter: sepia(1) brightness(0.85) hue-rotate(220deg) saturate(5); }
    25%  { filter: sepia(1) brightness(0.85) hue-rotate(calc(220deg + 90deg))  saturate(7); }
    40%  { filter: sepia(1) brightness(1.50) hue-rotate(calc(220deg + 150deg)) saturate(5); }
    100% { filter: sepia(1) brightness(0.85) hue-rotate(calc(220deg + 360deg)) saturate(5); }
  }

  .logo {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    cursor: pointer;

    filter: sepia(1) brightness(0.85) hue-rotate(220deg) saturate(5);

    &:hover {
      animation-name: hue-circle;
      animation-iteration-count: infinite;
      animation-duration: 30s;
    }
  }

  .react-datepicker {
    user-select: none;
    font-size: 0.8rem !important;
  }

  .react-datepicker__current-month {
    font-size: 0.8rem !important;
  }

  .react-datepicker__header {
    padding-top: 2px !important;
  }

  .react-datepicker__navigation {
    top: 6px !important;
  }

  .react-datepicker__day-name, .react-datepicker__day {
    margin: 2px !important;
    width: 1.3rem !important;
    padding: 2px 0 0;
    line-height: 1.3rem !important;
  }

  .date-input {
    $date-input-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0 5px;

    .date {
      cursor: pointer;
      height: $date-input-height;
      align-items: center;
      color: hsl(0, 0%, 60%);
      border-width: 1px 0;
      border-style: solid;
      border-color: hsl(0, 0%, 86%);
      background: hsl(0, 0%, 98%);
      padding: 0 10px;


      &:hover {
        background: hsl(0, 0%, 95%);
      }

      &:active {
        background: hsl(0, 0%, 92%);
      }
    }

    .date-controls {
      cursor: pointer;
      height: calc(#{$date-input-height} - 2px);
      padding: 0 7px;
      display: flex;
      align-items: center;
      background: hsl(0, 0%, 98%);
      color: hsl(0, 0%, 60%);

      border-style: solid;
      border-color: hsl(0, 0%, 86%);

      &.left {
        border-width: 1px 0 1px 1px;
        border-radius: 3px 0 0 3px;
        border-right: 1px solid hsl(0, 0%, 95%);
      }

      &.right {
        border-width: 1px 1px 1px 0;
        border-radius: 0 3px 3px 0;
        border-left: 1px solid hsl(0, 0%, 95%);
      }

      &:hover {
        background: hsl(0, 0%, 95%);
      }

      &:active {
        background: hsl(0, 0%, 92%);
      }

      &.disabled {
        cursor: default;
        background: hsl(0, 0%, 95%);

        &:hover, &:active {
          background: hsl(0, 0%, 95%);
        }
      }
    }
  }


  .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    //width: 300px;
    flex-grow: 1;
    height: 28px;
    border-radius: 3px;
    color: hsl(0, 0%, 60%);
    border: 1px solid hsl(0, 0%, 86%);;
    background: hsl(0, 0%, 98%);
    padding: 0 10px;

    margin: 0 5px;

    &::placeholder {
      color: hsl(0, 0%, 80%);
    }

    &:active, &:focus {
      background: hsl(0, 0%, 100%);
    }
  }

  @keyframes spin180 {
    0%   { transform: translate3d(0, 0, 0) rotate(-0.001deg) }
    100% { transform: translate3d(0, -0.5px, 0) rotate(180.001deg) }
  }

  .refresh-btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    border-radius: 3px;
    color: hsl(0, 0%, 60%);
    border: 1px solid hsl(0, 0%, 86%);;
    background: hsl(0, 0%, 98%);
    padding: 0 10px 0 8px;

    margin: 0 5px;

    .btn-label {
      padding: 0 6px 0 2px;
      line-height: 16px;
    }

    .btn-icon {
      display: block;
      font-size: 14px;
      line-height: 16px;
      color: hsl(0, 0%, 70%);
      fill: hsl(0, 0%, 70%);
    }

    &.loading {
      cursor: default;
      
      .btn-icon {
        animation: spin180 0.5s linear infinite;
      }
    }

    &:not(.loading):hover {
      background: hsl(0, 0%, 95%);

      .btn-icon {
        animation: spin180 0.25s linear;
        transform: translate3d(0, -0.5px, 0) rotate(180.001deg);
      }
    }

    &:not(.loading):active {
      background: hsl(0, 0%, 92%);
    }
  }
}
